@font-face {
    font-family: Noto Sans Mono;
    src: url(../fonts/NotoSansMono-Thin.ttf);
    font-weight: 200;
}
@font-face {
    font-family: Noto Sans Mono;
    src: url(../fonts/NotoSansMono-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: Noto Sans Mono;
    src:
        url(../fonts/NotoSansMono-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Noto Sans Mono;
    src:
        url(../fonts/NotoSansMono-Regular.ttf);
    font-weight: 400;
}
#@font-face {
#    font-family: Noto Sans Mono;
#    src: url(../fonts/NotoSansMono-Bold.ttf);
#    font-weight: bold;
#}
div.admonition {
    border-radius: 4px;
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.29);
}

.admonition-title {
    border-radius: 4px 4px 0px 0px;
}

.rst-content div[class^="highlight"] pre {
    font-family: Noto Sans Mono, monospace;
    font-weight: normal;
    font-size: 10pt;
    border-radius: 0.25rem;
    line-height: 125%;
}

.rst-content div[class^="highlight"] {
    border-radius: 0.25rem;
    border: 1px solid #C0C0C0;
    # background: #f0f0f0;
}

.rst-content code {
    font-family: Noto Sans Mono, monospace;
    border-radius: 0.25rem;
    padding: 0.1rem 0.25rem;
    background: #f0f0f0;
    border: 1px solid #C0C0C0;
}

.highlight {
    background: rgb(243, 244, 245);
}

body {
    font-family: Lato, Noto Sans, monospace;
    font-size: 12pt;
}

p {
    font-size: 12pt;
}
